body {
    font-family: Arial, sans-serif;
    background-color: #f5d3d8;  /* Hellrosa */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 340px; /* Etwas enger für bessere Kontrolle */
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px; /* Mehr Platz unter der Überschrift */
}

input[type="email"], button {
    width: 100%;
    padding: 10px;
    margin: 8px 0; /* Gleicher Abstand oben und unten */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Damit Padding die Breite nicht verändert */
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px; /* Mehr Abstand zum Eingabefeld */
}

button:hover {
    background-color: #004494;
}
